<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://media.beam.usnews.com/e3/41/016a8e9b4c5b926771122598d9b6/160226-craftcocktails-stock.jpg');">
  <div class="banner-content">
    <h1>Discover the weirdest cocktails</h1>
  </div>
</div>
